h2{
    text-align: center;
    font-size: 50px;
    color: blue;
}

#a1, #a2, #a3{
    display:none;
    text-align: left;
    font-size: 30px;
    background-color: rgb(187,187,187);
    padding: 30px 20px;
}

#q1, #q2, #q3{
    background-color: gray;
    color: white;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
}

